@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  color: #111;
  font-family: 'Lato', sans-serif;
  margin: 2em auto;
  max-width: 768px;
}

header, section {
  margin-bottom: 4em;
}

button {
  background-color: #222;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 190px;
  padding: 0.875em 2em;
}

button:hover {
  background-color: #282828;
}

.location {
  color: #666;
  margin-bottom: 2em;
  max-width: max-content;
}

.yellow {
  border-bottom: 2px solid yellow;
}

.pink {
  border-bottom: 2px solid pink;
}

.teal {
  border-bottom: 2px solid teal;
}

.lightblue {
  border-bottom: 2px solid lightblue;
}

.lightgreen {
  border-bottom: 2px solid lightgreen;
}

.orange {
  border-bottom: 2px solid orange;
}